body{
    font-size:1rem;
    font-family:"Microsoft YaHei", "微软雅黑体", "Microsoft JhengHei", "微軟正黑體", Arial, Helvetica, sans-serif;
}

p{
    font-size: 22px;
}

@media (max-width:400px), print{

    p{
        font-size: 18px;
    }
}
