body{
    font-size:1rem;    
}

h1,h2,h3,h4,h5,h6{
    font-family:"Microsoft YaHei", "微软雅黑体", "Microsoft JhengHei", "微軟正黑體", Arial, Helvetica, sans-serif;
}

h3{
    color: tomato;
}

p{
    font-size: 2.5rem;
    font-family:Helvetica, Heiti TC, Segoe UI, Meiryo, "微軟正黑體";
}



@media (max-width:400px), print{

    p{
        font-size: 2.5rem;
    }
}
